:root {
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;


  --side-padding: 12px;
  --avatar-size: 36px;


  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  font: roboto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: var(--size-padding);
  background-color: var(--black-color);
  color: var(--white-color);
}

header .title {
  font-size: var(--font-large);
}

header .title i {
   fonr-size: var(--font-large);
}

header .fa-search {
  margin-right: vsr(--size-padding);
}

.player {
  text-align: center;
  background-color: var(--black-color);
  position: sticky;
  top: 0;
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

.metadata .hashtags {
  display: flex;
  color: var(--blue-color);
  font-size: var(--font-small);
}

.metadata .hashtags li {
  margin-right: var(--size-padding);
}

.metadata .titleAndBtn {
  display: flex;
  justify-content: space-between;
}

.metadata .view {
  font-size: vsr(--font-small);
}

.metadata .titleAndBtn .title {
  font-size: var(--font-medium);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.metadata .titleAndBtn button {
  margin-right= var(--size-padding);
}

button,
button:focus {
  cursor: pointer;
  border: none;
  outline: none;
}

.actions {
  display: flex;
  justify-content: space-around;
  margin: var(--size-padding) 0;
}

.actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);

.actions button i {
  margin: 0 auto;
  margin-bottom: calc(var(--size-padding)) / 2;
  font-size: 16px;
}

.actions button i.active {
  color: var(--blue-color);
}

.channel .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--grey-white-color);
  border-bottom: 1px solid var(--grey-white-color);
}

.channel img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.channel .data .info {
  display: flex;
  flex-direction: column;
}
