:root {
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;


  --side-padding: 12px;
  --avatar-size: 36px;


  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

li {
  list-style: none;
}

header {
  position: sticky;
  justify-content: space-between;
  top: 0;
  padding: var(--size-padding);
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: var(--font-large);
}

header .title i {
  color: var(--red-color);
}

header .title__left {
  margin-right: var(--size-padding);
}

.player{
  position: center;
  background-color: var(--black-color);
}
.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

.info {
  padding: var(--size-padding);
}

.info .hashtag {
  display: flex;
  color: var(--blue-color);
  font-size: var(--font-small);
}

.info .titleAndBtn .title {
  width: 300px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-right: var(--size-padding);
}

.info .titleAndBtn .moreBtn {
  height:100%
  display: flex;
}

.info .titleAndBtn .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
} 

.thumb {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

button,
button:focus {
  border: none;
  outline: none;
  cursor: pointer;
}

.thumb button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
}

.thumb button i {
  margin: 0 auto;
  margin-buttom: calc(var(--size-padding) / 2);
  font-size: 16px;
}
